name: Deploy TUTU-backend

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment
        options:
          - dev
          - qa
        required: true
      revision:
        description: Backend build GH Actions number
        required: true
        type: number

run-name: Deploy TUTU-backend revision ${{ inputs.revision }} to ${{ inputs.environment }}

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/checkout@v4
      - name: Configure AWS dev-role credentials
        if: ${{ inputs.environment == 'dev' }}
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: ${{ secrets.AWS_TUTU_DEV_ROLE_ARN }}
          role-session-name: tutu-frontend-deploy-dev
          aws-region: eu-west-1
      - name: Configure AWS qa-role credentials
        if: ${{ inputs.environment == 'qa' }}
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: ${{ secrets.AWS_TUTU_QA_ROLE_ARN }}
          role-session-name: tutu-frontend-deploy-qa
          aws-region: eu-west-1
      - name: Deploy backend to ECS
        working-directory: ./tutu-infra
        env:
          SKIP_OPENNEXT_BUILD: true
        run: |
          pnpm install --prefer-offline
          pnpm install -g aws-cdk
          cdk cli-telemetry --disable
          cdk deploy TutuBackendEcsService --require-approval never -c "utility=${{ secrets.AWS_TUTU_UTILITY_ACCOUNT_ID }}" -c "environment=${{ inputs.environment }}" -c "revision=ga-${{ inputs.revision }}" -c "skipfrontend=true"
